{
  "extends": "eslint:recommended",
  "parser": "babel-eslint",
  "plugins": [
    "babel"
  ],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "rules": {
    "semi": "off",
    "no-var": "error",
    "prefer-const": "error",
    "no-console": "warn"
  }
}
